@import "../../styles/variables/fonts";
@import "../../styles/variables/screens";

.hero_wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  @media only screen and (min-width: $screen-lg) {
    flex-direction: row;
    column-gap: 2rem;
  }

}

.content, .image {

  width: 100%;

  & > * {
    width: 100%;
  }

  @media only screen and (min-width: $screen_lg) {
    width: 50%;
    place-self: center;
  }

}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  @media only screen and (min-width: $screen-lg) {
    align-items: flex-start;
  }

}

.title, .description {

  text-align: center;

  @media only screen and (min-width: $screen-lg) {
    text-align: left;
  }
}

.title {
  font-size: $font-5xl;
  text-transform: capitalize;
}

.description {
  font-size: $font-lg;
}

.buttons {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  a {
    font-size: $font-lg;
  }

  @media only screen and (min-width: $screen-md) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 1rem;
  }

}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_wrapper.center {

  .content {

    align-items: center;

    .title, .description {
      text-align: center;
    }

  }

}

.primary {

  background: var(--ac-primary-500);

  .title, .description {
    color: var(--white);
  }

}

.secondary {

  background: var(--ac-secondary-500);

  .title, .description {
    color: var(--white);
  }

}

.transparent {

  background: transparent;

  .title {
    color: var(--tx-primary);
  }

  .description {
    color: var(--tx-secondary);
  }

}