@import "./variables/colors";

:root {
  --black: #{$black};
  --white: #{$white};
}

[theme="light"] {
  --ac-primary-300: #{scale-color($accent-primary, $lightness: 20%)};
  --ac-primary-500: #{$accent-primary};
  --ac-primary-700: #{scale-color($accent-primary, $lightness: -20%)};
  --ac-secondary-300: #{scale-color($accent-secondary, $lightness: 20%)};
  --ac-secondary-500: #{$accent-secondary};
  --ac-secondary-700: #{scale-color($accent-secondary, $lightness: -20%)};
  --ac-tertiary-300: #{scale-color($accent-tertiary, $lightness: 20%)};
  --ac-tertiary-500: #{$accent-tertiary};
  --ac-tertiary-700: #{scale-color($accent-tertiary, $lightness: -20%)};
  --bg-primary: #{scale-color($white, $lightness: -3%)};
  --bg-secondary: #{scale-color($white, $lightness: -7%)};
  --bg-tertiary: #{scale-color($white, $lightness: -12%)};
  --bg-fourth: #{scale-color($white, $lightness: -15%)};
  --bg-fifth: #{scale-color($white, $lightness: -18%)};
  --tx-primary: #{$black};
  --tx-secondary: #{scale-color($black, $lightness: 10%)};
  --tx-tertiary: #{scale-color($black, $lightness: 20%)};
  --ic-primary: #{$black};
  --ic-secondary: #{scale-color($black, $lightness: 40%)};
  --dv-primary: #{scale-color($white, $lightness: -25%)};
  --dv-secondary: #{scale-color($white, $lightness: -10%)};
  --red-500: #{$red-500};
  --blue-200: #{$blue-200};
  --blue-500: #{$blue-500};
  --blue-600: #{$blue-600};
  --deep-blue-600: #{$deep-blue-600};
  --green-500: #{$green-500};
  --green-700: #{$green-700};
  --green-800: #{$green-800};
  --gold-500: #{$gold-500};
  --gold-700: #{$gold-700};
  --indigo-200: #{$indigo-200};
  --indigo-400: #{$indigo-400};
  --indigo-500: #{$indigo-500};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};
  --grey-900: #{$grey-900};
  --amber-200: #{$amber-200};
  --amber-400: #{$amber-400};
  --yellow-200: #{$yellow-200};
  --orange-700: #{$orange-700};
  --pink-500: #{$pink-500};
  --max: #{$black};
  --bg-max: #{$white};
  --twitter: #1A8CD8;
  --facebook: #2068CB;
  --reddit: #E63E00;
  --youtube: #FF0000;
  --instagram: #BC3081;
  --linkedin: #095CAF;
}

[theme="dark"] {
  --ac-primary-300: #{scale-color($accent-primary, $lightness: 15%)};
  --ac-primary-500: #{scale-color($accent-primary, $lightness: 5%)};
  --ac-primary-700: #{scale-color($accent-primary, $lightness: -20%)};
  --ac-secondary-300: #{scale-color($accent-secondary, $lightness: 25%)};
  --ac-secondary-500: #{scale-color($accent-secondary, $lightness: 5%)};
  --ac-secondary-700: #{scale-color($accent-secondary, $lightness: -20%)};
  --ac-tertiary-300: #{scale-color($accent-tertiary, $lightness: 25%)};
  --ac-tertiary-500: #{scale-color($accent-tertiary, $lightness: 5%)};
  --ac-tertiary-700: #{scale-color($accent-tertiary, $lightness: -20%)};
  --bg-primary: #{scale-color($black, $lightness: 3%)};
  --bg-secondary: #{scale-color($black, $lightness: 7%)};
  --bg-tertiary: #{scale-color($black, $lightness: 12%)};
  --bg-fourth: #{scale-color($black, $lightness: 15%)};
  --bg-fifth: #{scale-color($black, $lightness: 18%)};
  --tx-primary: #{$white};
  --tx-secondary: #{scale-color($white, $lightness: -15%)};
  --tx-tertiary: #{scale-color($white, $lightness: -30%)};
  --ic-primary: #{$white};
  --ic-secondary: #{scale-color($white, $lightness: -40%)};
  --dv-primary: #{scale-color($black, $lightness: 25%)};
  --dv-secondary: #{scale-color($black, $lightness: 10%)};
  --red-500: #{scale-color($red-500, $lightness: 5%)};
  --blue-200: #{scale-color($blue-200, $lightness: 5%)};
  --blue-500: #{scale-color($blue-500, $lightness: 5%)};
  --blue-600: #{scale-color($blue-600, $lightness: 5%)};
  --deep-blue-600: #{scale-color($deep-blue-600, $lightness: 5%)};
  --green-500: #{scale-color($green-500, $lightness: 5%)};
  --green-700: #{scale-color($green-700, $lightness: 5%)};
  --green-800: #{scale-color($green-800, $lightness: 5%)};
  --gold-500: #{scale-color($gold-500, $lightness: 5%)};
  --gold-700: #{scale-color($gold-700, $lightness: 5%)};
  --indigo-200: #{scale-color($indigo-200, $lightness: 5%)};
  --indigo-400: #{scale-color($indigo-400, $lightness: 5%)};
  --indigo-500: #{scale-color($indigo-500, $lightness: 5%)};
  --grey-500: #{scale-color($grey-500, $lightness: 5%)};
  --grey-600: #{scale-color($grey-600, $lightness: 5%)};
  --grey-900: #{scale-color($grey-900, $lightness: 5%)};
  --amber-200: #{scale-color($amber-200, $lightness: 2%)};
  --amber-400: #{scale-color($amber-400, $lightness: 2%)};
  --yellow-200: #{scale-color($yellow-200, $lightness: 2%)};
  --orange-700: #{scale-color($orange-700, $lightness: 2%)};
  --pink-500: #{scale-color($pink-500, $lightness: 2%)};
  --max: #{$white};
  --bg-max: #{$black};
  --twitter: #1D9BF0;
  --facebook: #2374E1;
  --reddit: #FF4500;
  --youtube: #CC0000;
  --instagram: #C73388;
  --linkedin: #0A66C2;
}