@import "../../styles/variables/shadows";
@import "../../styles/variables/screens";

.navbar {
  background: var(--bg-secondary);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: $shadow-xl;
}

.navbar_container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar_wrapper {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media only screen and (min-width: $screen-lg) {
    justify-content: start;
  }

}

.menu {

  display: none;

  @media only screen and (min-width: $screen-lg) {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    column-gap: 1rem;
    padding: 0 1rem;
  }

}

.buttons {

  display: none;

  @media only screen and (min-width: $screen-lg) {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &:first-child {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-right: -1.125rem;
    }

  }

}

.menu_btn {

  display: flex;
  margin-left: -1.125rem;

  @media only screen and (min-width: $screen-lg) {
    display: none;
  }

}