@import "../../styles/variables/fonts";
@import "../../styles/variables/screens";

.coming_soon_container {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.coming_soon_wrapper {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .description {
  text-align: center;
}

.title {

  font-size: $font-4xl;
  margin-bottom: 0.25rem;
  text-transform: capitalize;

  @media only screen and (min-width: $screen-sm) {
    font-size: $font-5xl;
  }

  @media only screen and (min-width: $screen-md) {
    font-size: $font-6xl;
  }

}

.description {
  margin-bottom: 2rem;
}

.back_btn {

  column-gap: 0.125rem;

  .arrow {
    transition-property: all;
  }

  &:hover .arrow {
    transform: translateX(-0.125rem);
  }

}